.add_form {
}

.add_task_input {
    margin-left: 1em;
    background-color: var(--green);
    border: 1px solid var(--green);
    height: 3em;
    width: 22em;
    border-radius: 5px;
}


.add_task_button {
    background-color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 50%; 
    margin: 1em;
    padding: .5em .7em;
    font-size: 1.3em;
    color: white;
}