.todo_text {
    margin: .5em;
    padding: .5em;
    display: flex;
    /* align-items: center; */
}
.checkbox, .unchecked {
    margin-right: 1.5em;
}

.todo_text span, .todo_text s {
    font-size: 15px;
}

.todo_item { 
    width: 100%;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 5px;
    border-radius: 1em;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.todo_action {
    margin: .5em;
}

.task_input {
    height: 1.5em;
    width: 20em;
    border: none;
    font-size: 15px;
    border-bottom: 1px solid var(--blue);
}

.task_input:focus {
    outline: none;
}

