
.todo_list {
    position: relative;
    display: flex; 
    flex-direction: column;
    height: 36em;
    width: 24em; 
    background-color: white;
    align-items: center;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 47px -17px rgba(150,194,224,1);
    -moz-box-shadow: 0px 0px 47px -17px rgba(150,194,224,1);
    box-shadow: 0px 0px 47px -17px rgb(156, 168, 178);
}

.date_display {
    background-color: rgb(245, 245, 250);
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    color: rgb(119, 142, 201);
    margin: 0;
    border: 1px solid var(--border);
}

.add_task { 
    background-color: white;
    display: flex;
    align-items: center;
    text-align: left; 
    height: 3.5em; 
    border-bottom: 1px solid var(--border);
    width: 100%;
}

.add_task:hover {
    background-color:rgb(230, 233, 240);
    transform: scale(1.01);
}

.add_task:active {
    transform: scale(1);
}


.add_icon {
    padding: 1em;
}

.add_task_button:hover {
    transform: scale(1.05);
}

.add_task_button:active {
    transform: scale(.9);
}